.nav-toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #292929;
  color: white;
  font-weight: 600;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  color: white;
  overflow: hidden;
}

.nav-toolbar img {
  margin: 0 16px;
}

.nav-toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.nav-toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.nav-toolbar #twitter-logo:hover,
.nav-toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.nav-content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: lightgray;
}

.nav-title {
  letter-spacing: 5px;
  font-family: BubbleFont;
  color: lightgray;
  text-shadow: 5px 5px 5px black;
  margin: 20px;
  font-size: 14px;
  cursor: pointer;
}
.nav-title:hover {
  color: gray;
}

.nav-title:active {
  text-shadow: 1px 1px 1cap white;
}
