<div
  *ngIf="
    (game?.currentCategory && roundStage === 'BEFORE_QUESTION') ||
    (game?.currentCategory && roundStage === 'QUESTION') ||
    (game?.currentCategory && roundStage === 'QUESTION_WITH_PROMPTS') ||
    (game?.currentCategory && roundStage === 'BEFORE_AUCTION') ||
    (game?.currentCategory && roundStage === 'AUCTION') ||
    (game?.currentCategory && roundStage === 'AUCTION_COMPLETE')
  "
  fxLayoutAlign="center center"
  class="content-header category-header"
  fxLayout="row"
  fxLayoutGap="20"
>
  <!-- <span>KATEGORIA:</span> -->
  <span class="category">{{ game?.currentCategory }}</span>
</div>

<app-team-bubbles
  *ngIf="
    (roundStage === 'AUCTION' && game) ||
    (roundStage === 'BEFORE_AUCTION' && game) ||
    (roundStage === 'AUCTION_COMPLETE' && game)
  "
  [game]="game"
  [auctionMode]="true"
></app-team-bubbles>

<app-team-bubbles
  *ngIf="
    (roundStage === 'ROUND_SUMMARY' && game) ||
    (roundStage === 'AFTER_ANSWER' && game) ||
    (roundStage === 'CATEGORY_SELECTION' && game)
  "
  [game]="game"
  [auctionMode]="false"
></app-team-bubbles>

<app-participant-question
  #participantQuestionRef
  *ngIf="
    (roundStage === 'QUESTION' && game) ||
    (roundStage === 'QUESTION_WITH_PROMPTS' && game) ||
    (roundStage === 'QUESTION_WITH_ANSWER' && game)
  "
  [questionWinner]="game.auctionWinner"
  [stakes]="game.bubbleStakes"
  [roundNumber]="game.roundNumber"
  [roundStage]="game.roundStage"
></app-participant-question>
<app-bubbles-counter></app-bubbles-counter>
