.content {
  margin: 50px;
}

input {
  text-decoration: none;
  background: none;
  width: 500px;
  height: 100px;
  text-align: center;
  align-content: center;
  font-size: 50px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
}
