<div
  class="content"
  role="main"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlex="100"
>
  <div>
    <form [formGroup]="newGameForm" (ngSubmit)="add()">
      <input type="text" formControlName="name" placeholder="Podaj nazwę gry" />
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <app-action-button
        (clickButton)="cancel()"
        width="100"
        textValue="ANULUJ"
      ></app-action-button>
      <app-action-button
        (clickButton)="add()"
        width="100"
        textValue="UTWÓRZ"
      ></app-action-button>
    </div>
  </div>
</div>
