.action-button {
  list-style-type: none;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: 1px solid white;
  text-transform: uppercase;
  align-content: center;
}
.action-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.action-button span:after {
  /* content: "\00bb"; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.action-button:hover span {
  padding-right: 25px;
}

.action-button:hover span:after {
  opacity: 1;
  right: 0;
}

.action-button:hover {
  background-color: #ccc;
  cursor: pointer;
  color: black;
}

button {
  background: none;
}
