<!-- <div class="wrapper" fxLayoutAlign="center center">
  <div class="bubbles-font title">{{ title }}</div>
</div> -->
<div fxLayout="column">
  <div class="wrapper">
    <div fxLayoutAlign="center center">
      <div class="title-transform" fxLayoutAlign="center center">
        <span class="text">{{ title }}</span>
      </div>
    </div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
  </div>
</div>
