table,
th,
td {
  text-align: center;
}

table {
  border: 1px solid whitesmoke;
}

table {
  width: 400px;
}

th {
  height: 75px;
  min-width: 300px;
  background-color: #292929;
  text-transform: uppercase;
  letter-spacing: 2px;
}

td {
  background-color: rgba(71, 71, 71, 0.9);
}

.game-btn {
  height: 50px;
  width: 150px;
  letter-spacing: 2px;
}

.content {
  margin: 50px;
}

.game-data {
  font-weight: 600;
  font-size: 20px;
}

.new-game {
  display: none;
}

.actions:hover .new-game {
  display: block;
}

.no-game {
  margin: 50px;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
