.stakes {
  text-align: center;
  color: white;
  letter-spacing: 5px;
}

.stakes-content {
  height: 100%;
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px black;
  align-content: center;
  border: white solid 1px;
}

.auction-content {
  height: 100%;
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px black;
  align-content: center;
  border: white solid 1px;
}

.GREEN-header {
  color: #26c429;
}

.BLUE-header {
  color: #2e8ee4;
}

.YELLOW-header {
  color: #dcc055;
}

.STAKES-header {
  color: #a34d56;
}

.GREEN {
  background: radial-gradient(#0b5b02, #031a00);
}

.BLUE {
  background: radial-gradient(#042d6d, #030a24);
}

.YELLOW {
  background: radial-gradient(#785f05, #2d2703);
}

.BLACK {
  background: radial-gradient(#042d6d, #030a24);
}

.STAKES {
  background: radial-gradient(#474747, #1e1e1e);
}

.auction {
  color: white;
  text-align: center;
}

@media screen and (max-width: 1920px) {
  .stakes {
    height: 150px;
    width: 425px;
  }

  .stakes-content {
    font-size: 75px;
  }

  .auction-content {
    font-size: 75px;
  }

  .auction {
    height: 100px;
  }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
  .stakes {
    height: 200px;
    width: 500px;
  }

  .stakes-content {
    font-size: 100px;
  }

  .auction-content {
    font-size: 100px;
    height: 134px;
  }

  .auction {
    height: 134px;
  }
}

@media screen and (max-width: 3840px) and (min-width: 2561px) {
  .stakes {
    height: 300px;
    width: 750px;
  }

  .stakes-content {
    font-size: 150px;
  }

  .auction-content {
    font-size: 150px;
    height: 300px;
  }

  .auction {
    height: 200px;
  }
}

.auction-STAKES {
  opacity: 0;
}

.highest-stakes-true {
  color: #fafc2c;
}
