<div>
  <div
    *ngIf="auctionMode"
    [style]="team.teamColor === 'STAKES' ? 'opacity: 0' : 'opacity: 1'"
    [class]="
      team.teamColor +
      ' auction-content dotted highest-stakes-' +
      team.highestStakes
    "
  >
    {{ team.bubbleStakesAmount }}
  </div>

  <div fxLayout="column" [class]="team.teamColor">
    <div [class]="'stakes-header ' + team.teamColor + '-header'">
      {{ headerTitle }}
    </div>
    <div class="stakes-content dotted">
      {{ team.bubbleAmount | spaceForThousands }}
    </div>
  </div>
</div>
