<div fxLayout="column">
  <div fxFlex="100" fxLayoutAlign="end end">
    <app-timer
      #timerRef
      [seconds]="prepareSeconds()"
      [audioEnabled]="false"
      (secondsAgo)="takeSec($event)"
      [startOnInit]="canStartTimer()"
      *ngIf="
        roundStage === 'QUESTION' || roundStage === 'QUESTION_WITH_PROMPTS'
      "
    ></app-timer>
  </div>
  <div fxFlex="100" class="question" fxLayout="column">
    <div class="question-header">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>PYTANIE {{ roundNumber }}</div>
        <div fxLayout="row" fxLayoutGap="5">
          <span class="amount-desc">Do wygrania</span
          ><span class="amount">{{ stakes | spaceForThousands }}</span
          ><span class="amount-desc">bombelków</span>
        </div>
      </div>
    </div>
    <div [class]="'question-content ' + questionWinner.teamColor">
      <div fxLayout="column">
        <div
          class="question-value"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div>{{ questionWinner.activeQuestion?.value }}</div>
          <div *ngIf="canDisplayImage()">
            <img
              class="question-img"
              [src]="
                './../../../../assets/question-data/' +
                questionWinner.activeQuestion?.imageUrl
              "
              alt=""
            />
          </div>
        </div>
        <div
          class="question-answers"
          fxLayout="row wrap"
          fxLayoutAlign="center center"
        >
          <div fxFlex="50" *ngFor="let answer of answers; let i = index">
            <div
              [class]="'answer answer-' + i"
              [style]="answer.correct ? ' text-decoration: overline' : ''"
            >
              {{ answer.value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
