<div
  fxLayout="row"
  fxLayoutAlign="center end"
  fxLayoutGap="0"
  style="margin-top: 30px"
>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <div
      *ngIf="
        game.roundStage === 'AUCTION' || game.roundStage === 'AUCTION_COMPLETE'
      "
      class="auction-header"
      style="letter-spacing: 30px"
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex="15"></div>
      <div fxFlex="70">LICYTACJA</div>
      <div fxFlex="15" class="buttons" fxLayoutAlign="end end">
        <div fxLayout="row">
          <div
            class="single-button"
            [style]="possibleBackward ? 'opacity: 1;' : 'opacity: 0;'"
          >
            <button (click)="backwardAuction()">
              <span class="material-symbols-outlined icon-style">undo</span>
            </button>
            <span class="tooltip-text" id="top">Cofnij</span>
          </div>
          <div
            class="single-button"
            [style]="possibleForward ? 'opacity: 1;' : 'opacity: 0;'"
          >
            <button (click)="forwardAuction()">
              <span class="material-symbols-outlined icon-style">redo</span>
            </button>
            <span class="tooltip-text" id="top">Przywróć</span>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div
        *ngFor="let team of game?.teams"
        fxLayout="row"
        fxLayoutAlign="center start"
        fxFlex="100"
      >
        <div>
          <app-auction-item
            style="width: 100%"
            [team]="team"
            [auctionStage]="'AUCTION' === game.roundStage"
            [gameId]="gameId"
            (stakesRaised)="stakesRaisedInfo()"
            [highestBidAmount]="game.highestBidAmount"
            [winnerColor]="
              game.auctionWinner ? game.auctionWinner.teamColor : ''
            "
          ></app-auction-item>
        </div>
      </div>
    </div>
  </div>

  <div style="opacity: 0; margin-top: 1px" class="stakes-auction-header"></div>
  <app-auction-item
    [headerTitle]="'PULA'"
    [team]="stakesTeam"
    [auctionStage]="'AUCTION' === game.roundStage"
    [gameStakes]="game.bubbleStakes"
  ></app-auction-item>
</div>
