<div class="content" fxLayout="column" fxLayoutGap="10">
  <div fxFlex="100" fxLayoutAlign="end end">
    <app-timer #timerRef [canStart]="true"></app-timer>
  </div>
  <div fxFlex="100" class="question" fxLayout="column">
    <div class="question-header">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>PYTANIE {{ roundNumber }}</div>
        <div fxLayout="row" fxLayoutGap="5">
          <span class="amount-desc">Do wygrania</span
          ><span class="amount">{{ stakes | spaceForThousands }}</span
          ><span class="amount-desc">bombelków</span>
        </div>
      </div>
    </div>
    <div [class]="'question-content ' + questionWinner.teamColor">
      <div fxLayout="column">
        <div class="question-value">
          {{ questionWinner.activeQuestion?.value }}
        </div>
        <div
          class="question-answers"
          fxLayout="row wrap"
          fxLayoutAlign="center center"
          *ngIf="roundStage === 'QUESTION_WITH_PROMPTS'"
        >
          <div fxFlex="50" *ngFor="let answer of answers; let i = index">
            <div [class]="'answer answer-' + i">{{ answer.value }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
